<div class="login-container d-flex">
  <div class="text-center image-container gradient-mint">
    <img
      alt="Mindlife Login"
      src="assets/img/logos/calivert-logo.png"
      class="login-photo bg-white"
    />
    <p class="text-white display-4 align-bottom login-text my-3 px-5">
      CaliPharma Forget Password
    </p>
  </div>

  <div class="bg-white login-box">
    <div class="login-form-container mt-5 mb-5">
      <h6>Please provide your registered email.</h6>
      <form (ngSubmit)="onFormSubmit()">
        <div class="form-group">
          <label for="email-input">Email*</label>
          <input
            id="email-input"
            type="text"
            [formControl]="emailFormControl"
            class="form-control"
            placeholder="email"
            [ngClass]="{
              'is-invalid':
                emailFormControl.invalid && emailFormControl.touched,
              'is-valid': emailFormControl.valid
            }"
            required
          />
          <p
            *ngIf="
              emailFormControl.touched &&
              emailFormControl.errors?.['required']
            "
            class="help-block mt-1 text-danger"
          >
            <i class="ft-alert-circle align-middle"></i> Email is required
          </p>
        </div>

        <div
          class="form-buttons d-flex align-items-center justify-content-center"
        >
          <button
            class="btn btn-primary btn-lg"
            id="login-button"
            [disabled]="emailFormControl.invalid || emailFormControl.pristine"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
