<section id="change-password-page">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div
                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2"
              >
                <img
                  src="assets/img/logos/calivert-logo.png"
                  alt="Calivert Logo"
                  class="img-fluid"
                  width="350"
                  height="230"
                />
              </div>
              <div class="col-lg-4 col-md-12 px-4 py-3">
                <h1 class="font-large-1 mb-2">
                  Welcome {{ (userInfo$ | async)?.email | uppercase }}
                </h1>

                <h4 class="card-title mb-2">Change Default Password</h4>
                <p>Set a password for your account</p>

                <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
                  <div class="form-group">
                    <input
                      popoverTitle="Password Strength"
                      [ngbPopover]="popContentPassword"
                      placement="right"
                      triggers="focus"
                      type="password"
                      formControlName="password"
                      class="form-control mb-2"
                      placeholder="Password"
                      [ngClass]="{
                        'is-invalid': password.invalid && password.touched,
                        'is-valid': password.valid
                      }"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      popoverTitle="Password Strength"
                      [ngbPopover]="popContentConfirmPassword"
                      placement="right"
                      triggers="focus"
                      type="password"
                      formControlName="confirmPassword"
                      class="form-control mb-2"
                      placeholder="Confirm Password"
                      [ngClass]="{
                        'is-invalid':
                          confirmPassword.invalid && confirmPassword.dirty,
                        'is-valid': confirmPassword.valid
                      }"
                    />
                    <div
                      *ngIf="
                        changePasswordForm.hasError('notMatch') &&
                        password.dirty &&
                        password.valid &&
                        confirmPassword.dirty &&
                        confirmPassword.valid
                      "
                      class="help-block mt-1 text-danger"
                    >
                      <i class="ft-alert-circle align-middle"></i> password must
                      match
                    </div>
                  </div>

                  <p class="mb-2 text-muted text-center">
                    password must be at least 8 characters long, have at least
                    one uppercase & lowercase letter and one must have one
                    numeric digit
                  </p>

                  <div
                    class="d-flex justify-content-start flex-sm-row flex-column"
                  >
                    <button
                      [disabled]="confirmPassword.invalid"
                      type="submit"
                      class="btn btn-primary btn-lg m-2"
                    >
                      Change Password
                    </button>
                    <button
                      (click)="logout()"
                      type="button"
                      class="btn btn-dark btn-lg m-2"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->

<ng-template #popContentPassword>
  <p
    [class.text-success]="
      password.hasError('minlength') === false &&
      password.hasError('required') === false
    "
    class="text-warning"
  >
    minimum 8 characters
  </p>
  <p
    [class.text-success]="
      password.hasError('hasNumber') === false &&
      password.hasError('required') === false
    "
    class="text-warning"
  >
    contains a number
  </p>
  <p
    [class.text-success]="
      password.hasError('hasUppercase') === false &&
      password.hasError('required') === false
    "
    class="text-warning"
  >
    contains UPPERCASE letter
  </p>
  <p
    [class.text-success]="
      password.hasError('hasLowercase') === false &&
      password.hasError('required') === false
    "
    class="text-warning"
  >
    contains lowercase letter
  </p>
</ng-template>

<ng-template #popContentConfirmPassword>
  <p
    [class.text-success]="
      confirmPassword.hasError('minlength') === false &&
      confirmPassword.hasError('required') === false
    "
    class="text-warning"
  >
    minimum 8 characters
  </p>
  <p
    [class.text-success]="
      confirmPassword.hasError('hasNumber') === false &&
      confirmPassword.hasError('required') === false
    "
    class="text-warning"
  >
    contains a number
  </p>
  <p
    [class.text-success]="
      confirmPassword.hasError('hasUppercase') === false &&
      confirmPassword.hasError('required') === false
    "
    class="text-warning"
  >
    contains UPPERCASE letter
  </p>
  <p
    [class.text-success]="
      confirmPassword.hasError('hasLowercase') === false &&
      confirmPassword.hasError('required') === false
    "
    class="text-warning"
  >
    contains lowercase letter
  </p>
</ng-template>
